*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
}
:root{
    --main-color: #007aff;
}
body{
    font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}
section{
    margin-block: 50px;
    padding-block: 80px;
}


/* !!!!!! header style */

.navbar{
    background-color: rgba(0, 0, 0, 0.132);
}
.nav-item {
    position: relative;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link::after {
    content: "";
    background-color: #fff;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 8px;
    transition: width 300ms;
}
.navbar-light .navbar-nav .nav-link.active::after {
    width: 75%;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../imgs/imgs/bg.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content h3{
    font-size: 50px;
}
.header-content p{
    font-size: 50px;
}
.header-content p::after {
    content: "";
    animation: type 10s infinite;
    margin-left: 15px;
    font-weight: 400;
}

@keyframes type {
    0% {
        content: "L|";
    }
    1% {
        content: "La|";
    }
    2% {
        content: "Lar|";
    }
    3% {
        content: "Larr|";
    }
    4% {
        content: "Larry|";
    }
    5% {
        content: "Larry D|";
    }
    6% {
        content: "Larry Da|";
    }
    7% {
        content: "Larry Dan|";
    }
    8% {
        content: "Larry Dani|";
    }
    9% {
        content: "Larry Danie|";
    }
    10% {
        content: "Larry Daniel|";
    }
    11% {
        content: "Larry Daniels|";
    }
    20%{
        content: "Larry Daniels|";
    }
    21% {
        content: "Larry Daniel|";
    }
    22% {
        content: "Larry Danie|";
    }
    23% {
        content: "Larry Dani|";
    }
    24% {
        content: "Larry Dan|";
    }
    25% {
        content: "Larry Da|";
    }
    26% {
        content: "Larry D|";
    }
    27% {
        content: "Larry|";
    }
    28% {
        content: "Larr|";
    }
    29% {
        content: "Lar|";
    }
    30% {
        content: "La|";
    }
    31% {
        content: "L|";
    }
    32% {
        content: "|";
    }
    33% {
        content: "D|";
    }
    34% {
        content: "De|";
    }
    35% {
        content: "Dev|";
    }
    36% {
        content: "Deve|";
    }
    37% {
        content: " Devel|";
    }
    38% {
        content: "Develo|";
    }
    39% {
        content: "Develop|";
    }
    40% {
        content: "Develope|";
    }
    41% {
        content: "Developer|";
    }
    50%{
        content: "Developer|";
    }
    51% {
        content: "Develope|";
    }

    52% {
        content: "Develop|";
    }

    53% {
        content: "Develo|";
    }

    54% {
        content: "Devel|";
    }

    55% {
        content: "Deve|";
    }

    56% {
        content: "Dev|";
    }

    57% {
        content: "De|";
    }

    58% {
        content: "D|";
    }

    59% {
        content: "|";
    }

    60% {
        content: "D|";
    }

    61% {
        content: "De|";
    }

    62% {
        content: "Des|";
    }

    63% {
        content: "Desi| ";
    }

    64% {
        content: "Desig|";
    }

    65% {
        content: "Design|";
    }

    66% {
        content: "Designe|";
    }
    67% {
        content: "Designer|";
    }
    77%{
        content: "Designer|";
    }
    78% {
        content: "Designe|";
    }

    79% {
        content: "Design|";
    }

    80% {
        content: "Desig|";
    }

    81% {
        content: "Desi|";
    }

    82% {
        content: "Des|";
    }

    83% {
        content: "De|";
    }

    84% {
        content: "D|";
    }

    85% {
        content: "|";
    }
} 
.header-content .header-icons i{
    width: 35px;
    height: 35px;
    padding-top: 16px;
    background-color: rgba(0, 0, 0, 0.5);

}

/* ???? About Section */

.about-img{
    position: relative;
}
.about-img::after{
    content: '';
    width: 80%;
    height: 80%;
    background-image: url(../imgs/imgs/dots.png);
    position: absolute;
    bottom: -30px;
    left: -30px;
    z-index: -1;
}
#about .hero-content p{
    color: #748182;
    letter-spacing: 1px;
}
.skills{
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    margin-bottom: 30px;
}

.skills .skill-progress{
    position: relative;
    background-color: black;
}
.skills .skill-progress::after{
    content: attr(aria-valuenow);
    position: absolute;
    top: 4px;
    right: 5px;
    color: #fff;
    font-size: 12px;
}
.btn1{
    color: #fff;
    background-color: black;
    font-size: 14px;
    padding-inline: 30px;
    padding-block: 12px;
    transition: all 500ms;
}
.btn1:hover{
    color: #1c1c1c;
    background-color: #fff;
    border: #1c1c1c solid 1px;
}
.hero-btn .btn2{
    color: #1c1c1c;
    background-color: #fff;
    border: #1c1c1c solid 1px;
    font-size: 14px;
    padding-inline: 30px;
    padding-block: 12px;
    transition: all 500ms;
}
.hero-btn .btn2:hover {
    color: #fff;
    background-color: #1c1c1c;
}

/* !!!! services section */

#services{
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
}
.title{
    margin-bottom: 80px;
   
}
.title h2{
    font-size: 40px;
    font-weight: 900;
    position: relative;
    width: fit-content;
    margin: auto;
    z-index: 2;
}
.title h2::after{
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(../imgs/imgs/dots.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    z-index: -1;
}
.card{
    padding-block: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.card i{
    font-size: 26px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    padding-top: 20px;
    transition: all 500ms;
}
.card:hover i{
    background-color: black;
    color: white;
}
.card .card-body h5{
    font-weight: 700;
    letter-spacing: 1px;
}

/* !!!! portfolio section */

.nav-pills .nav-link{
    color: black;
    background-color: #fff;
    font-weight: 700;
}
.nav-pills .nav-link.active{
    color: black;
    background-color: #fff;
}
.nav-pills .nav-link.active::after{
    content: '';
    width: 60%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    text-align: center;
}

.portfolio-img{
    position: relative;
}
.port-layer{
    width: 96%;
    height: 96%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    overflow: hidden;
    opacity: 0;
    transition: all 600ms;
}
.portfolio-img:hover .port-layer {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.port-layer .layer-icons i{
    width: 30px;
    height: 30px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    padding-top: 8px;
    text-align: center;
    font-size: 12px;
    transform: translateY(5px);
    transition: transform 600ms;
}
.port-layer .layer-icons i:hover{
    color: black;
    background-color: #fff;
    border: black solid 1px;
}
.portfolio-img:hover i {
    transform: translateY(-5px);
}
.port-layer h6{
    transform: translateY(-10px);
    transition: transform 600ms;
    margin-bottom: 0;
}
.portfolio-img:hover h6{
    transform: translateY(10px);
}


/* !!! clients section */


#clients{
    background-color: #f7f7f7;
    position: relative;
    z-index: -2;
}
.carousel-item img{
    width: 100px;
    height: 100px;
}
.carousel-indicators [data-bs-target]{
    all: unset;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-inline: 8px;
    margin-top: 30px;
    background-color: #d6d6d6;
}
.carousel-indicators [data-bs-target]:hover{
    background-color: #869791;
}
.carousel-indicators .active{
    background-color: #869791;
}
.numbers .container .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 5px auto;
    padding: 10px;
    font-size: 26px;
}


/* !!!! team section */


#team{
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
}
.item .item-img img{
    transition: transform 500ms;
}
.item .item-img:hover img{
    transform: scale(1.2);
}
.item-img{
    position: relative;
}
.team-layer a{
    color: #fff;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    margin-inline: 5px;
}
.team-layer a:hover{
    color: black;
    background-color: #fff;
    border: black solid 1px;
}
.team-layer{
    content: '';
    width: 95%;
    height: 95%;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #fff;
    transform:rotateY(0) scale(0.5);
    transition: all 800ms;
    opacity: 0;
}
.item:hover .team-layer{
    transform: rotateY(360deg) scale(1);
    opacity: 1;
}


/* !!! contact section */


#contact .card i {
    font-size: 24px;
    width: 60px;
    height: 60px;
}
.form-control {
    background-color: #f4f4f4;
}
.form-control:focus {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    box-shadow: 0 0 0 0;
}
textarea.form-control {
    max-height: 180px;
    max-width: 100%;
    resize: both;
}
form button{
    border: #1c1c1c;
}


footer{
    background-color: #1c1c1c;
    padding: 30px;
}
footer p{
    font-size: 14px;
    color: #748182;
    word-spacing: 2px;
}





